* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
  }
  
  /* Cabeçalho/Título do blog */
  .header {
    padding: 30px;
    text-align: center;
    background: white;
  }
  
  .header h1 {
    font-size: 50px;
  }
  
  /* Style da barra de navegação superior */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Estilizar os links navbartop */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Mude a cor ao passar o mouse*/
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Criei duas colunas desiguais que flutuam uma ao lado da outra */
  /* Coluna esquerda */
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /* coluna direita */
  .rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Adiciona um efeito de cartão nos artigos*/
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Limpar as flutuações após as colunas */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Rodapé */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  /* Layout responsivo - quando a tela tiver menos de 800px de largura, faça as duas colunas empilharem uma sobre a outra em vez de uma ao lado da outra*/
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Layout responsivo - quando a tela tiver menos de 400px de largura, faça com que os links de navegação se empilhem uns sobre os outros em vez de um ao lado do outro */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }